{% extends "tasks/index.html" %}

{% block content %}
    <section class="container">
        <div class="mt-4 d-flex justify-content-center content text-info row">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-5 my-2">
                        <label for="username">نام کاربری:</label>
                        <input class="input-form" type="text" name='username' id="username">
                    </div> 
                    <div class="col-md-5 my-2"> 
                        <label for="password">گذرواژه:</label>
                        <input class="input-form" type="password" name='password'>
                    </div>
                </div>

                <input type="submit" class="my-2 submit" value="ورود">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you set up the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">فراموشی گذرواژه</a></p>
        </div>
    </section>

{% endblock %}