{% extends "tasks/index.html" %}

{% block content %}
    <section>
        <div class="container">
            <form class="col-12" method="post">
                {% csrf_token %}
                <div class="row col-6 my-2">
                    <label for="email">ایمیل:</label>
                    <input class="form-control" type="email" name='email' id="email">
                </div>
                <button class="btn btn-dark mb-2" type="submit">ثبت</button>
            </form>
        </div>
    </section>
{% endblock content %}