{% extends "tasks/index.html" %}


{% block content %}
    <section>
        <div class="container">
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="row my-2">
                    <label for="old_password">گذرواژه قدیمی:</label>
                    <input class="form-control" type="password" name='old_password' id="old_password">
                </div>
                <div class="row my-2">
                    <label for="new_password1">گذرواژه جدید:</label>
                    <input class="form-control" type="password" name='new_password1' id="new_password1">
                </div>
                <div class="row my-2">
                    <label for="new_password2">تایید گذرواژه جدید:</label>
                    <input class="form-control" type="password" name='new_password2' id="new_password2">
                </div>
                <button class="btn btn-dark mb-2" type="submit">ثبت</button>
            </form>
        </div>
    </section>
{% endblock content %}