{% extends "tasks/index.html" %}

{% block content %}
    <section class="container">
        <div class="mt-4 d-flex justify-content-center content text-info row">
            {% if form.errors %}
                <p style="color: red;">{{ form.errors }}</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="row my-2">
                    <div class="col-md-12 my-2">
                        <label for="username">نام کاربری:</label>
                        <input class="input-form" type="text" name='username' id="username">
                    </div> 
                    <div class="col-md-12 my-2"> 
                        <label for="email">ایمیل:</label>
                        <input class="input-form" type="email" name='email'>
                    </div>
                    <div class="col-md-12 my-2">
                        <label for="password1">گذرواژه:</label>
                        <input class="input-form" type="password" name='password1' id="password1">
                    </div> 
                    <div class="col-md-12 my-2"> 
                        <label for="password2">تایید گذرواژه:</label>
                        <input class="input-form" type="password" name='password2'>
                    </div>
                </div>

                <input type="submit" class="my-2 submit" value="ثبت نام">
            </form>
        </div>
    </section>
{% endblock content %}