{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/bootstrap.min.css' %}">
    <title>Todo App</title>
</head>
<body>
    <header>
        <p>header</p>
    </header>
    <section>
        <div class="container my-2">
            <div class="my-3 task_form">
                <h2>ثبت وظایف روزانه</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" name=title placeholder="عنوان کار ...">
                    <button type="submit">ثبت</button>
                </form>
            </div>
            <table>
                <tr>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>تاریخ ایجاد</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for task in tasks %}
                    <tr>
                            <td>{{ task.title }}</td>
                            <td>
                                {% if task %}
                                    فعال
                                {% else %}
                                    غیرفعال
                                {% endif %}
                            </td>
                            <td>{{ task.created }}</td>
                            <td>
                                <button class="active_button">
                                    {% if task.active %}
                                        غیر فعال کردن
                                    {% else %}
                                        فعال کردن
                                    {% endif %}
                                </button>
                            </td>
                            <td><a href="{% url 'task:delete_task' id=task.id %}"><button class="delete_button">حذف کردن</button></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <footer>
        <p>footer</p>
    </footer>
    <script src="{% static 'tasks/js/main.js' %}"></script>
    <script src="{% static 'tasks/js/bootstrap.min.js' %}"></script>
</body>
</html>