{% for task in tasks %}
    <div class="card mt-3 card-c" id="{{task.id}}" style="
        {% if not task.active %} 
            text-decoration:line-through;background: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)); 
        {% endif %}">
        <div class="card-body">
            <h5 class="heading">{{task.title}} </h5>
            <p class="date">
                {{task.created}}
            </p>
            <span class="float-left">
                <a data-id="{{ task.id }}"  id="{{task.id}}"  class="btn btn-danger btn_del">X</a>
            </span>
        </div>
    </div>    
{% endfor %}